/* 
    Author     : Lukas Richtrmoc
*/

html, body{
    cursor: default;
    height: 100%;
}
img{
	height: auto;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
.navbar-header img{
	width: auto;
}
a:hover{
	text-decoration: underline;
}
.responsive{
	width: 100%;
}
.theme-loader{
    background: rgba(255, 255, 255, 0.8);
}
.c-default{
	cursor: default;
}
.c-pointer{
	cursor: pointer;
}
.reverse-vertical > .row{
	transform: rotate(180deg);
}
.reverse-vertical > .row > *{
	transform: rotate(-180deg);
}
.courses-nav-menu ul > li{
	display: inline-block;
}
/* ADDED PRIMARY-DARK */
.btn-primary-dark, .bg-primary-dark{
	background: #02608c;
}
.text-primary-dark{
	color: #02608c;
}
/* FIXED MUTED */
.text-muted {
    color: #e6e6e6 !important;
} 
/* ADDED TEXT FONT-SIZE */
.text-large{
	font-size: 16px;
}
.text-normal{
	font-size: 14px;
}
.text-small{
	font-size: 13px;
}

/* FIX Button component clickability */
button:focus{
	outline: none;
}
.btn{
    padding: 0px;
}
.btn a{
    display: block;
    padding: 10px 19px;
}
.btn a:hover{
	text-decoration: none;
}
.btn i{
	margin-right: 0px;
}
.btn i + *{
	margin-left: 5px;
}
.btn a *{
	display: inline;
}

/* ADD Table No-borders */
.no-borders .table td, .table th{
	border: 0px !important;
}
.table tr:first-child td{
	border-top: 0px;
}

/* ADD Little preview IMG */
.user-little-preview .col-sm{
	display: inline-block;
}
.user-little-preview img{
	margin-right: .5em;
}
.user-little-preview img{	
	max-height: 1.75em;
}
.user-little-preview:hover{
	text-decoration: none;
}
.user-little-preview span{
	display: inline-block;
}
.user-little-preview .marks{
	padding-left: 2.5em;
}
.user-little-preview .marks>.row>.col-sm{
	width: auto;
}
/* FIX Header LOGO - on header background */
.pcoded .pcoded-header .navbar-logo{
    background: #e2e2e2 !important;
}
@media (min-width: 990px){
	.pcoded .pcoded-header .navbar-logo{
	    box-shadow: inset 0px 0px 20px 8px #d9d9d9;
	}
	.pcoded .pcoded-header .navbar-logo .img-fluid:hover{
		animation: rotate infinite 1000ms;
	}
}
@keyframes rotate{
	0% {transform: rotate(0deg); }
	80% {transform: rotate(80deg); }
	100% {transform: rotate(360deg); }
}
/* FIX NULL ti-icon*/
.ti-null:before{
    content: "";
    padding-left: 1em;
}

/* FIX General page - temporal language dropdown*/
.page-general .header-notification .show-notification{
    opacity: 0;
    padding-top: .25em;
    transition: opacity 200ms linear;
}
.page-general .header-notification #dropdown-active-item:hover+.show-notification, .page-general .header-notification .show-notification:hover{
    opacity: 1;
}
/* FIX Appication Page - Notification dropdown*/
.header-navbar .navbar-wrapper .navbar-container a:hover{
	text-decoration: none;
}
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification a{
    width: 100%;
}
/* FIX Notifications Badges COL */
.notifications-page-table .notifications-badges-wrapper .col-sm{
	padding-left: 2px;
	padding-right: 2px;
}
.notifications-badges-wrapper .col-sm:first-child{
	padding-right: 2px;	
}
.notifications-badges-wrapper .col-sm+.col-sm:last-child{
	padding-left: 2px;	
}
/* FIX Appication Page - Mobile header links */
.header-navbar .navbar-wrapper .navbar-logo a {
    color: #34495e;
}
/* FIX Card-msg in Card-Header border */
.card-header .card-msg.b-b-default, .reverse-vertical > .row > div:first-child .card-msg.b-b-default{
	border: 0px;
}
.b-b-default{
	border-color: #f1f1f1;
}
.card-block .card-msg h6, .card-block .card-msg span{
	font-size: .85em;
}
/* FIX Card-img */
.card-img-top{
	padding-top: 15px;
}
/* FIX Card MSG active circle*/
.card-msg-img:after{
	display: none
}
/* Fix Tab NAV */
.nav-tabs{
    margin-bottom: 30px;
    border-bottom: 0px;
}
/* FIX Tab ITEM */
.nav-link:hover{
	text-decoration: none;
}
.md-tabs .nav-item{
	background: transparent;
	border: 0px !important;
	font-size: 1.1em;
	font-weight: bold;
    width: calc(100%/5);
}
.md-tabs .nav-item .slide{
	width: calc(100%/5);
}
.nav-tabs.tabs-left .nav-item .slide{
	width: 4px;
}
@media only screen and (max-width: 573px){
	.md-tabs .nav-item{
		width: 100%;
	}
}
.md-tabs .nav-item a.nav-link:not(.active){
	color: #949494;
}
.md-tabs .nav-item a.nav-link:not(.active) + .slide{
   	background: #dddddd;
	opacity: 1;
}
/* FIX Page Title - can be layout inside */
.main-body .page-wrapper .page-header-title, .main-body .page-wrapper .page-header-title h4{
	display: block;
}
/* FIX Tab left-side */
.tabs-left-content{
	width: 100%;	
}
/* CORRECT Float inline elements */
.float-left a, .float-left span{
	display: inline-block;
}
.marks .col-sm{
	display: inline-block;
	flex-grow: initial;
	padding-right: 0px;
	margin-right: -5px;
}
/* CORRECT Calendar */
.fc .fc-toolbar>*>*{
	margin-left: 0px;
}
.fc-state-default{
	background: transparent;
	border: 0px;
	box-shadow: none;
	line-height: 2.5;
}
.fc-day-header{
    background: #f3f3f3;
}
.fc-bg .fc-sat, .fc-bg .fc-sun{
	background: #f9f9f9;
}
.fc-unthemed td.fc-today {
    background: #0073aa14;
}
.fc-event, .fc-event-dot{
	background: #ebf4f8;
	display: inline-block;
}
.fc-basic-view .fc-day-number{
    padding: 1px 6px;
}
/* ADD CircleProgress */
.counter-25 .counter-card-icon{
	border-left-color: #f9f9f9 !important;
	border-bottom-color: #f9f9f9 !important;
	border-top-color: #f9f9f9 !important;
}
.counter-50 .counter-card-icon{
	border-left-color: #f9f9f9 !important;
	border-top-color: #f9f9f9 !important;
}
.counter-75 .counter-card-icon{
	border-top-color: #f9f9f9 !important;
}
/* ADD DASHBOARD */
.dashboard-recommend-user>.row>div:last-child{
	margin: 1.5em .5em 0em;
}